In [171]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

url="https://raw.githubusercontent.com/johnosullivan/ml-horse-prediction/master/data/training-2016-10-01-2016-12-31.csv"
race_data = pd.read_csv(url)

In [172]:
race_data.isnull().sum()

row_id                0
entry_id              0
morning_line        152
post_pos              0
offset                0
post                  0
speed                 0
horse_win             0
horse_wps             0
horse_roi             0
driver_win            0
driver_wps            0
driver_roi            0
trainer_win           0
trainer_wps           0
trainer_roi           0
min_races             0
previous_break        0
days_since            0
same_track            0
same_driver           0
last_race_res         0
last_race_wps         0
last_three_races      0
purse                 0
finish_pos            0
dtype: int64

In [173]:
race_data.head(5)

,row_id,entry_id,morning_line,post_pos,offset,post,speed,horse_win,horse_wps,horse_roi,...,min_races,previous_break,days_since,same_track,same_driver,last_race_res,last_race_wps,last_three_races,purse,finish_pos
0,2016-10-01_Batavia Downs_1_Highview Conall N_F...,2016-10-01_Batavia Downs_1_False,3-1,4,1,1,0,0,0,1,...,1,1,0,0,0,1,1,1,1,1
1,2016-10-01_Batavia Downs_1_Heaven Rocks_False,2016-10-01_Batavia Downs_1_False,7-2,2,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,0,3
2,2016-10-01_Batavia Downs_1_Foreign Officer_False,2016-10-01_Batavia Downs_1_False,6-5,5,1,1,1,0,0,0,...,1,1,1,1,1,1,1,1,-1,4
3,2016-10-01_Batavia Downs_1_Knocking Around_False,2016-10-01_Batavia Downs_1_False,2-1,3,1,1,1,0,0,1,...,1,1,1,1,1,0,0,1,0,2
4,2016-10-01_Batavia Downs_1_Milliron Pete_False,2016-10-01_Batavia Downs_1_False,9-2,1,1,1,1,0,0,1,...,1,1,1,1,0,0,0,1,0,5

In [174]:
race_data['finish_pos'] = race_data['finish_pos'].map(lambda x: 1 if x >= 3 else 0)

In [175]:
horse_data = race_data[['horse_roi', 'last_three_races', 'finish_pos']].copy()
horse_data

       horse_roi  last_three_races  finish_pos
0              1                 1           0
1              0                 1           1
2              0                 1           1
3              1                 1           0
4              1                 1           1
5              0                 1           0
6              0                 1           0
7              0                 1           1
8              0                 1           1
9              0                 1           1
10             0                 1           1
11             1                 1           1
12             0                 1           1
13             0                 1           1
14             0                 1           1
15             0                 1           0
16             0                 1           0
17             0                 1           1
18             0                 1           1
19             0                 1           1
20             1                 1           1
21             1                 1           0
22             0                 1           1
23             0                 1           1
24             0                 1           0
25             0                 1           1
26             0                 1           1
27             0                 1           1
28             0                 1           1
29             0                 1           1
...          ...               ...         ...
95488          0                 1           1
95489          1                 1           0
95490          0                 1           1
95491          0                 1           1
95492          0                 1           1
95493          0                 1           1
95494          1                 0           0
95495          0                 1           1
95496          1                 1           1
95497          0                 1           1
95498          0                 1           1
95499          0                 1           1
95500          0                 1           0
95501          0                 1           0
95502          0                 1           1
95503          0                 1           1
95504          0                 1           0
95505          1                 1           1
95506          0                 1           0
95507          0                 1           1
95508          0                 1           1
95509          0                 1           0
95510          0                 1           1
95511          1                 1           1
95512          0                 1           0
95513          1                 1           0
95514          0                 1           1
95515          0                 1           0
95516          0                 1           1
95517          0                 1           1

[95518 rows x 3 columns]

In [176]:
y = horse_data[['finish_pos']].values

In [177]:
X = horse_data[['horse_roi', 'last_three_races']].values

In [178]:
X_train, X, y_train, y = train_test_split(X, y, test_size=0.30, random_state=1)

In [179]:
#splitting training into 70% and test and development into 15% 15%
X_dev, X_test, y_test, y_dev = train_test_split(X, y, test_size=0.50, random_state=1)

In [180]:
clf = SVC(kernel='poly',C=1.5,random_state=1)
clf.fit(X_train, y_train)

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.5, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='poly',
  max_iter=-1, probability=False, random_state=1, shrinking=True,
  tol=0.001, verbose=False)

In [181]:
score1 = clf.score(X_dev,y_dev)

print(score1)

0.729829704076